<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuanLyCLB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuanLyCLB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QuanLyCLB.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source = localhost;Initial Catalog = QuanLyCLB;Integrated Security = True</value>
            </setting>
            <setting name="DownloadsPath" serializeAs="String">
                <value>%homedrive%%homepath%\Downloads</value>
            </setting>
            <setting name="AskDownloadsPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TenDangNhap" serializeAs="String">
                <value />
            </setting>
            <setting name="NhoTenDangNhap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </QuanLyCLB.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <QuanLyCLB.Properties.Settings>
      <setting name="TenPhanMem" serializeAs="String">
        <value>Phần mềm quản lý câu lạc bộ sinh viên</value>
      </setting>
      <setting name="PhienBan" serializeAs="String">
        <value>2.5.8</value>
      </setting>
      <setting name="PhienBanCefSharp" serializeAs="String">
        <value>109.1.110</value>
      </setting>
      <setting name="PhienBanLibVLCSharp" serializeAs="String">
        <value>3.9.0</value>
      </setting>
      <setting name="PhienBanNetFramework" serializeAs="String">
        <value>4.6.1</value>
      </setting>
      <setting name="PhienBanReaLTaiizor" serializeAs="String">
        <value>3.7.8.5</value>
      </setting>
      <setting name="PhienBanMarkdig" serializeAs="String">
        <value>0.30.4</value>
      </setting>
      <setting name="PhienBanVideoLANLibVLC" serializeAs="String">
        <value>3.0.21</value>
      </setting>
      <setting name="MaBaoMatQuanLy" serializeAs="String">
        <value>c18f3e0599590d1f028ac69563d25c03f83f3a4981afab4a040a0137c4f9fb78</value>
      </setting>
    </QuanLyCLB.Properties.Settings>
  </applicationSettings>
</configuration>